{% extends 'base_layout.html' %}
{% block content %}
  <div class="container review">

    <form class="site-form" action="{% url 'campaign:delcontacts' %}" method="get">
    <button type="submit" name="button">Delete Contacts</button>
    </form>
    <form class="site-form" action="{% url 'campaign:upcsv' %}" method="get">
      <button type="submit" name="button">Append More CSV Entries</button>
    </form>
    <form class="site-form" action="{% url 'campaign:send' %}" method="get">
      <button type="submit" name="button">Send</button>
    </form>
<hr>
</div>
<div class="container">
  <table id="example" class="display" style="width:100%">
          <thead>
              <tr>
                  <th>Name</th>
                  <th>Email</th>
              </tr>
          </thead>
          <tbody>
            {% for contact in contacts %}
              <tr>
                  <td>{{contact.name}}</td>
                  <td>{{contact.email}}</td>
              </tr>
            {% endfor %}
          </tbody>


  </div>

{% endblock %}
