{% extends 'base_layout.html' %}
{% block content %}
  <div class="review">

    <form class="site-form" action="{% url 'campaign:delcontacts' %}" method="get">
    <button type="submit" name="button">Delete Contacts</button>
    </form>
    <form class="site-form" action="{% url 'campaign:upcsv' %}" method="get">
      <button type="submit" name="button">Append More CSV Entries</button>
    </form>
    <form class="site-form" action="{% url 'campaign:send' %}" method="get">
      <button type="submit" name="button">Send</button>
    </form>
  </div>
{% endblock %}
